@use "@/styles/abstracts" as *;

.lang-switcher {
  display: inline-flex;
  margin-right: 20px;

  button,
  span {
    line-height: 150%;
  }

  span {
    display: block;
    margin:0 4.5px ;
    color: rgba($color: $white, $alpha: 1);
  }
  &__btn {
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba($color: $white, $alpha: 0.5);
    @include transition-simple;

    &.is-active {
      color: rgba($color: $white, $alpha: 1);
    }
  }
}
/* RU / kz */
